{
  "plugins": [
    "transform-remove-strict-mode",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "browsers": [
            "last 4 versions",
            "safari >= 7",
            "ie >= 9"
          ]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
