{
  "extends": [
    "egg"
  ],
  "globals": {
    "$": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": [
      0
    ],
    "no-bitwise": [
      0
    ],
    "experimentalDecorators": [
      0
    ],
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}
