/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    background-color: #F5F5F9;
}

header.navbar {
    padding: 16px;
    background: #FDFDFD;
    box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
}
.navbar-brand {
    color: rgba(0,0,0,.9);
}
.navbar-brand {
    display: inline-block;
    padding: 0;
    line-height: 22px;
    font-size: 20px;
    margin-right: 18px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 16px;
    border-right: 1px solid #f4f4f4;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.drawer-toggle {
    display: inline-block;
    z-index: 8889;
    transition: left 0.5s;
    left: 0;
    position: fixed;
    width: 41px;
    height: 40px;
    cursor: pointer;
    pointer-events: auto;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #fff;
    top: 12px;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 4px 0;
    /*transition: 0.5s;„ÄÅ*/
}

.chart-header {
    text-align: center;
    background-color: #fff;
}

.chart-header h1 {
    position: relative;
    font-size: 16px;
    color: #303030;
    padding: 30px 0 12px;
    margin: 0;
}

.chart-header a {
    position: absolute;
    right: 15px;
    font-size: 16px;
    font-weight: normal;
    text-decoration-line: none;
    color: #108EE9;
}

section.chart {
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #fff;
}
section.chart header {
    /*height: 45px;*/
    line-height: 45px;
    font-size: 16px;
    height: 45px;
    padding: 0 15px;
    color: #2e2e2e;
    border-bottom: 1px solid #F5F5F9;
}

