*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "San Francisco", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

canvas {
  display: block;
  width: 100vw;
  height: 69vw;
}
