# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on: [push,pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "ci"
  ci:
    # The type of runner that the job will run on
    runs-on: macos-latest

    strategy:
      matrix:
        node_version: ['12']

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with: 
         node-version: ${{ matrix.node_version }}

    # Runs a set of commands using the runners shell
    - name: npm install, ci
      run: |
        npm install
        npm run ci
      env:
        CI: true
